/*

    Name:       Base16 Materia
    Author:     Defman21

    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)
    Modified by Guido Masella

*/
.highlight {
     background: #263238;
     color: #cdd3de;
     @extend %vertical-rhythm;

    .hll { background-color: #37474f }
    .c { color: #707880 } /* Comment */
    .err { color: #ec5f67 } /* Error */
    .k { color: #82aaff } /* Keyword */
    .l { color: #ea9560 } /* Literal */
    .n { color: #ffffff } /* Name */
    .o { color: #80cbc4 } /* Operator */
    .p { color: #ffffff } /* Punctuation */
    .cm { color: #707880 } /* Comment.Multiline */
    .cp { color: #707880 } /* Comment.Preproc */
    .c1 { color: #707880 } /* Comment.Single */
    .cs { color: #707880 } /* Comment.Special */
    .gd { color: #ec5f67 } /* Generic.Deleted */
    .ge { font-style: italic } /* Generic.Emph */
    .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
    .gi { color: #8bd649 } /* Generic.Inserted */
    .gp { color: #707880; font-weight: bold } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #80cbc4; font-weight: bold } /* Generic.Subheading */
    .kc { color: #82aaff } /* Keyword.Constant */
    .kd { color: #82aaff } /* Keyword.Declaration */
    .kn { color: #80cbc4 } /* Keyword.Namespace */
    .kp { color: #82aaff } /* Keyword.Pseudo */
    .kr { color: #82aaff } /* Keyword.Reserved */
    .kt { color: #ffcc00 } /* Keyword.Type */
    .ld { color: #8bd649 } /* Literal.Date */
    .m { color: #ea9560 } /* Literal.Number */
    .s { color: #8bd649 } /* Literal.String */
    .na { color: #89ddff } /* Name.Attribute */
    .nb { color: #ffffff } /* Name.Builtin */
    .nc { color: #ffcc00 } /* Name.Class */
    .no { color: #ec5f67 } /* Name.Constant */
    .nd { color: #80cbc4 } /* Name.Decorator */
    .ni { color: #ffffff } /* Name.Entity */
    .ne { color: #ec5f67 } /* Name.Exception */
    .nf { color: #89ddff } /* Name.Function */
    .nl { color: #ffffff } /* Name.Label */
    .nn { color: #ffcc00 } /* Name.Namespace */
    .nx { color: #89ddff } /* Name.Other */
    .py { color: #ffffff } /* Name.Property */
    .nt { color: #80cbc4 } /* Name.Tag */
    .nv { color: #ec5f67 } /* Name.Variable */
    .ow { color: #80cbc4 } /* Operator.Word */
    .w { color: #ffffff } /* Text.Whitespace */
    .mf { color: #ea9560 } /* Literal.Number.Float */
    .mh { color: #ea9560 } /* Literal.Number.Hex */
    .mi { color: #ea9560 } /* Literal.Number.Integer */
    .mo { color: #ea9560 } /* Literal.Number.Oct */
    .sb { color: #8bd649 } /* Literal.String.Backtick */
    .sc { color: #ffffff } /* Literal.String.Char */
    .sd { color: #707880 } /* Literal.String.Doc */
    .s2 { color: #8bd649 } /* Literal.String.Double */
    .se { color: #ea9560 } /* Literal.String.Escape */
    .sh { color: #8bd649 } /* Literal.String.Heredoc */
    .si { color: #ea9560 } /* Literal.String.Interpol */
    .sx { color: #8bd649 } /* Literal.String.Other */
    .sr { color: #8bd649 } /* Literal.String.Regex */
    .s1 { color: #8bd649 } /* Literal.String.Single */
    .ss { color: #8bd649 } /* Literal.String.Symbol */
    .bp { color: #ffffff } /* Name.Builtin.Pseudo */
    .vc { color: #ec5f67 } /* Name.Variable.Class */
    .vg { color: #ec5f67 } /* Name.Variable.Global */
    .vi { color: #ec5f67 } /* Name.Variable.Instance */
    .il { color: #ea9560 } /* Literal.Number.Integer.Long */
}
